/*common css start*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B1B1B1;
}
/* common css end*/

/*header css start*/
header{
	margin: 0;
	padding: 30px 0;
	background-color: black;
}

.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}

.logo{
	float: left;
}

.logo img{
	text-decoration: none;
	font-size: 30px;
	line-height: 50px;
	color: #CD2930;
}

.menu{
	width: 50%;
	float: right;
}

.menu ul{
	float: right;
}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	margin: 0 15px;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	color: #CD2930;
}

.menu ul li:last-child a{
	margin-right: 0;
}
/*header css end*/

/*banner css start*/
.banner{
	height: 500px;
	background-color: black;
}

.banner_container{
	margin: 0 auto;
	width: 50%;
	padding: 150px 0;
	line-height: 30px;
	text-align: center;
}

.banner_container h1{
	margin: 0;
	padding: 30px 0;
	font-size: 65px;
	font-weight: 600;
	letter-spacing: 3px;
	color: white;
}

.banner_container p{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 6px;
	line-height: 0px;
	color: #CBCBCB;
}

.button{
    margin: 25px 0;
    padding: 15px 50px;
    border-radius: 40px;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #F4015F;
}
/*banner css end*/

/*about me css start*/
.about_me{
	margin: 0;
	padding: 120px 0;
}

.about_me_container{
	margin: 0 auto;
	width: 30%;
	text-align: center;
}

.about_me_container h1{
	margin-bottom: 50px;
    padding-top: 100px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4px;
    color: black;
}

.about_me_container p{
	font-size: 18px;
	padding: 10px 0 40px;
    line-height: 40px;
}
   
/*about me css end*/

/*service css start*/
.services{
	margin: 0 auto;
    width: 80%;
    padding: 60px 0;
}

.service_content{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}

.content_1{
	width: 25%;
	float: left;
	text-align: center;
}

.content_2{
	margin: 0 130px;
	width: 25%;
	float: left;
	text-align: center;
}

.content_3{
	width: 25%;
	float: left;
	text-align: center;
}

h3{
	margin: 40px 0;
	font-size: 16px;
	font-weight: 550;
	color: black;
}

.content_1 ul li{
	list-style: none;
	line-height: 40px;
}

.content_2 ul li{
	list-style: none;
	line-height: 40px;
}

.content_3 ul li{
	list-style: none;
	line-height: 40px;
}
/*services css end*/

.line_color{
    margin: 100px auto;
    width: 2%;
    border: 1px solid #F4015F;
}

/*my works css start*/
.my_works{
	padding-top: 200px;
}

.my_works h1{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 4px;
    color: black;
}

.my_works p{
	margin: 60px 0;
	font-size: 20px;
	text-align: center;
	color: #CBCBCB;
}

.tabs_row_1{
	margin: 30px auto;
	width: 90%;
	overflow: hidden;	
}

.image_1{
	margin-left: 65px;
	margin-right: 30px;
	width: 28%;
	float: left;
}

.image_1 img{
	width: 100%;
}

.image_2{
	margin-left: 65px;
	margin-right: 30px;
	width: 28%;
	float: left;
}

.image_2 img{
	width: 100%;
}

.image_3{
	margin-left: 65px;
	margin-right: 30px;
	width: 28%;
	float: left;
}

.image_3 img{
	width: 100%;
}

.tabs_row_2{
	margin: 30px auto;
	width: 90%;
	overflow: hidden;	
}

.image_4{
	margin-left: 65px;
	margin-right: 30px;
	width: 28%;
	float: left;
}

.image_4 img{
	width: 100%;
}

.image_5{
	margin-left: 65px;
	margin-right: 30px;
	width: 28%;
	float: left;
}

.image_5 img{
	width: 100%;
}

.image_6{
	margin-left: 65px;
	margin-right: 30px;
	width: 28%;
	float: left;
}

.image_6 img{
	width: 100%;
}

.contact{
    margin: 130px auto;
    width: 60%;
    text-align: center;
}
.contact h3{
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 2px;
}
.button{
    padding: 18px 5px;
    width: 30%;
    font-size: 16px;
    color:#FFBCE7;
    background-color: #F1025F;
    border-radius: 40px;
    border-style: none;
}
.social{
    margin: 90px 0px;
    width: 100%;

}
.social a{
    margin: 0px 30px;

}
.social a img{
    width: 30px;
}

/* Contact End */

/* Footer Start */
footer{
    background-color: black;
}
.footer_content{
    margin: 0 auto;
    padding: 15px 0px;
    width: 60%;
    text-align: center;
}
.footer_content p{
    font-size: 14px;
    color: white;
}

/* Footer End */